<br><br>
<div class="container">
    <div class="card bg-light mb-3" style="max-width: 250px; max-height: 600px;">
        <img src="assets\1.PNG" class="rounded float-left" alt="...">
        <div class="card-body">
            <h5 class="card-title">FirstName LastName</h5>
            <label for="ID">{{ID}}</label><br>
            <label for="Gender">Gender</label><br>
            <label for="Address">Address</label><br>
            <label for="DOB">DOB</label><br>
            <label for="Job">Job</label><br>
        </div>
    </div>
    <a class="btn btn-outline-danger btn-sm" style="width:250px" (click)="Notify()">Notify Nearst Hospital</a>
</div>