<br><br>
<div class="container" >
    <div class="card bg-light mb-3" style="max-width: 350px; max-height: 600px;">
        <img src="assets\1.PNG" class="rounded float-left" alt="...">
        <div class="card-body">
            <h5 class="card-title"><b>Full Name</b> : {{myID.fullName}}</h5>
            <label for="ID"><b>ID</b> : {{ID}}</label><br>
            <label for="Gender"><b>Gender </b> : {{myID.gender}}</label><br>
            <label for="Address"><b>Address</b> : {{myID.address}}</label><br>
            <label for="DOB"><b>Date Of birth</b> : {{myID.dateOfBirth}}</label><br>
            <label for="Job"><b>Job</b> : {{myID.job}}</label><br>
            <label for="Nationality"><b>Nationality</b> : {{myID.nationality}}</label>
            <br>
            <label for="MarStatus"><b>Marital Status</b> : {{myID.maritalStatus}}</label>
            <br>
            <label for="religion"><b>Religion</b> : {{myID.religion}}</label>
            <br>
            <label for="exDate"><b>Expiry Date</b> : {{myID.expireDate}}</label>
        </div>
    </div>
    <a class="btn btn-outline-secondary btn-sm" style="width:350px ; height: 40px; font-size: 18px" (click)="Renew()">Renew ID</a>
</div>