<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="Invalid">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Invalid Input
</div>

<div class="alert alert-dark alert-dismissible" *ngIf="InvalidID">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
   <strong>{{ID}}</strong> Doesnt exist.
</div>

<div class="container sign-in">
  <h1> <b>Hospital</b> </h1>
  <br><br>
  <a routerLink="CapturePhoto" class="btn btn-lg buttons btn-block">Search for Birth Certificate</a>

  <a routerLink="CreateCertificate" class="btn btn-lg buttons btn-block">Create Certificate</a>
  <br>
  <br>
</div>


