.buttons{
    background-color: #1565c0;
    color: white;
    border: 2px black solid;
    transition-duration: 0.4s;
}
.buttons:hover{
    background-color: white;
    border-color:#1565c0 ;
    color: black;
  }