<body>
    <div class="alert alert-danger" role="alert" *ngIf="Invalid">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ErrMessage}}
    </div>
    <div class="alert alert-primary" role="alert" *ngIf="this.CreateCertificate.InvalidID_Name">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Please Enter Valid ID - Full Name (4)
    </div>
    <br><br>

    <div class="container">
        <h1><b>Create Certificate</b></h1>
        <div class="form-group">
            <label for="FirstName">Full Name</label>
            <input type="text" class="form-control" name="FN" [(ngModel)]="FullName" required minlength="1">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Gender">Religion</label>
                <select [(ngModel)]="Religion" class="form-control" name="Religion" required autofocus>
                    <option selected value="Islam">Islam</option>
                    <option value="Christianity">Christianity</option>
                    <option value="Judaism">Judaism</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Birthplace</label>
                <input type="text" class="form-control" name="ADD" [(ngModel)]="birthplace" required autofocus>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4 ">
                <label for="Gender">Gender</label>
                <select [(ngModel)]="Gender" class="form-control" name="Gender" required autofocus>
                    <option selected value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="Nationality">Nationality</label>
                <input type="text" class="form-control" name="JB" [(ngModel)]="Nationality" required autofocus>
            </div>
            <div class="form-group col-md-4">
                <label for="DOB">Date of Birth</label>
                <input type="date" class="form-control" name="DOB" [(ngModel)]="DOB" required autofocus>
            </div>
        </div>

        <h4>Father Info:</h4>
        <div class="form-group">
            <label for="FirstName">Full Name</label>
            <input type="text" class="form-control" name="FN" [(ngModel)]="fatherFullName" required minlength="1">
        </div>
        <h4>Mother Info:</h4>
        <div class="form-group">
            <label for="FirstName">Full Name</label>
            <input type="text" class="form-control" name="FN" [(ngModel)]="motherFullName" required minlength="1">
        </div>

        <button type="submit" class="btn btn-outline-secondary btn-block" (click)="Create()">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                *ngIf="this.CreateCertificate.Loading"></span>
            <span *ngIf="!this.CreateCertificate.Loading"> Create</span>
        </button>
        <a href="#" class="btn btn-outline-danger btn-block">Cancel</a>
    </div>
</body>